---
import Blob from "./Blob.svelte"
import { RightArrow } from "./Icons.js"
---

<div
  class="flex flex-col justify-between sm:items-end sm:flex-row mt-12 mb-20 space-y-10"
>
  <div class="flex flex-col text-balance gap-4">
    <h1 class="text-5xl leading-tight">
      <span class="text-slate-700 dark:text-slate-200">Hi, I'm</span>
      <span class="tracking-wide text-transparent hero-gradient bg-clip-text">
        Austin Crim
      </span>
    </h1>
    <h2 class="max-w-lg text-3xl font-light text-slate-700 dark:text-slate-200">
      I build things for the web.
    </h2>
  </div>
  <div class="flex flex-col items-start justify-center space-y-4 sm:items-end">
    <a class="link group" href="mailto:aust.crim@gmail.com">
      <span>Say Hi</span>
      <span
        class="inline-block align-middle transition-transform transform group-hover:translate-x-1"
        set:html={RightArrow()}
      />
    </a>
  </div>
</div>
<div
  data-blob-container
  class="relative overflow-hidden border border-gray-200 dark:border-slate-800 rounded about"
>
  <Blob client:load color="bg-blue-200 dark:bg-blue-800" />
  <Blob client:load color="bg-fuchsia-200 dark:bg-fuchsia-800" />
  <Blob client:load color="bg-indigo-200 dark:bg-indigo-800" />
  <p class="text-xl leading-loose max-w-[80ch] relative p-6 backdrop-blur-xl">
    I started out as a 19-year old COBOL programmer and now I work on the web.
    Chat with me about <a class="link" href="https://svelte.dev">Svelte</a>,
    guitars, and making the web better.
  </p>
</div>
