---
import { GitHubLogo, Rss, TwitterLogo, YoutubeLogo } from "./Icons"

let { activeLink } = Astro.props
---

<nav class="text-muted lg:max-w-5xl mx-auto sm:max-w-3xl mt-12">
  <div class="flex items-center justify-between">
    <div class="text-xl flex justify-center items-baseline gap-8">
      {
        activeLink !== "home" && (
          <span
            style="view-transition-name: austin"
            class="relative border-indigo-100 -mr-3"
          >
            <a
              href="/"
              class="text-2xl font-merriweather leading-tight tracking-wide text-transparent hero-gradient bg-clip-text"
            >
              Austin Crim
            </a>
          </span>
        )
      }
      <a
        class="inline-block transition-colors hover:text-muted-hover"
        class:list={{ active: activeLink === "home" }}
        style="view-transition-name: home"
        href="/"
      >
        Home
      </a>
      <a
        class="inline-block transition-colors hover:text-muted-hover"
        class:list={{ active: activeLink === "blog" }}
        style="view-transition-name: blog"
        href="/blog"
      >
        Blog
      </a>
    </div>
    <div class="sm:flex hidden items-center justify-center gap-8">
      <a
        aria-label="austin crim's rss feed"
        href="/rss.xml"
        class="inline-block w-8 h-8 transition-colors hover:text-gray-600 dark:hover:text-gray-300"
        set:html={Rss()}
      />
      <a
        aria-label="austin crim's github profile"
        href="https://github.com/austincrim"
        class="inline-block w-8 h-8 transition-colors hover:text-gray-600 dark:hover:text-gray-300"
        set:html={GitHubLogo()}
      />
      <a
        aria-label="austin crim's twitter profile"
        href="https://twitter.com/crim_codes"
        class="inline-block w-8 h-8 transition-colors text-[#1D9BF0] hover:text-[#2EACF1]"
        set:html={TwitterLogo()}
      />
      <a
        aria-label="austin crim's youtube channel"
        href="https://youtube.com/austincrim"
        class="inline-block w-10 h-10 transition-colors text-[#dd0000] hover:text-[#ee0000]"
        set:html={YoutubeLogo()}
      />
    </div>
  </div>
</nav>

<style>
  .active {
    border-bottom-width: theme("borderWidth.2");
    border-bottom-color: theme("borderColor.blue.500");
  }
</style>
