---
import Socials from "./Socials.astro"

let { route } = Astro.props
---

<nav class="text-muted lg:max-w-5xl sm:max-w-3xl py-10">
  <div class="flex items-center justify-between">
    <div class="text-xl flex justify-center items-baseline gap-8">
      <a
        class="inline-block transition-colors hover:text-muted-hover"
        class:list={{ active: route === "home" }}
        href="/"
      >
        Home
      </a>
      <a
        class="inline-block transition-colors hover:text-muted-hover"
        class:list={{ active: route === "blog" }}
        href="/blog"
      >
        Blog
      </a>
      <a
        class="inline-block transition-colors hover:text-muted-hover"
        class:list={{ active: route === "projects" }}
        href="/projects"
      >
        Projects
      </a>
    </div>
    <div class="sm:block hidden">
      <Socials />
    </div>
  </div>
</nav>

<style>
  .active {
    border-bottom-width: theme("borderWidth.2");
    border-bottom-color: theme("borderColor.blue.500");
  }
</style>
