---
let { title } = Astro.props
---

<div class={`w-full pt-32 leading-loose text-slate-700`}>
  <div class="max-w-6xl mx-auto">
    <h2
      class="pb-12 text-3xl font-semibold text-left text-blue-800 dark:text-blue-300"
    >
      {title}
    </h2>
    <slot />
  </div>
</div>
