---
import { GitHubLogo, Rss, TwitterLogo, YoutubeLogo } from "./Icons"
---

<div class="flex justify-center gap-6 items-baseline">
  <a
    aria-label="austin crim's rss feed"
    href="/rss.xml"
    class="inline-block w-8 h-8 transition-colors hover:text-gray-600 dark:hover:text-gray-300"
    set:html={Rss()}
  />
  <a
    aria-label="austin crim's github profile"
    href="https://github.com/austincrim"
    class="inline-block w-8 h-8 transition-colors hover:text-gray-600 dark:hover:text-gray-300"
    set:html={GitHubLogo()}
  />
  <a
    aria-label="austin crim's twitter profile"
    href="https://twitter.com/crim_codes"
    class="inline-block w-8 h-8 transition-colors text-[#1D9BF0] hover:text-[#2EACF1]"
    set:html={TwitterLogo()}
  />
  <a
    aria-label="austin crim's youtube channel"
    href="https://youtube.com/austincrim"
    class="inline-block w-8 h-8 transition-colors text-[#dd0000] hover:text-[#ee0000]"
    set:html={YoutubeLogo()}
  />
</div>
