h1,
h2,
h3,
h4,
h5,
h6,
.about {
  font-family: 'Merriweather', sans-serif;
}

.link {
  @apply text-blue-600 underline font-semibold transition-colors duration-150;
}

.link:hover {
  @apply text-blue-500;
}

.link:visited {
  @apply text-violet-700;
}

.link:visited:hover {
  @apply text-violet-500;
}

:root {
  --yummy: linear-gradient(
    140deg,
    whitesmoke,
    theme('colors.blue.200') 20%,
    whitesmoke 50%,
    theme(colors.indigo.200),
    whitesmoke
  );
}

.hero-gradient {
  --tw-gradient-stops: theme('colors.blue.400'), theme('colors.blue.800');
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

.fancy-gradient {
  background: var(--yummy);
  background-size: 200% 200%;
}

@media (hover: hover) {
  a:hover .fancy-gradient,
  a:focus-visible .fancy-gradient {
    animation: shine 4s ease-in-out infinite alternate-reverse;
  }
}

@media (pointer: none) {
  .fancy-gradient {
    animation: shine 7s ease-in-out infinite alternate-reverse;
  }
}

@keyframes shine {
  50% {
    background-position: 100% 100%;
  }
}
