@keyframes fade-in {
  from {
    opacity: 0;
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-8px);
  }
}
@keyframes zhoop {
  from {
    transform: translateY(5px);
  }
}

.heading {
  animation: fade-in 250ms ease-out 50ms backwards;
}

.gradient-container {
  background: var(--yummy);
}

.article {
  animation: fade-in 250ms ease-out 100ms backwards,
    slide-in 250ms ease-out 100ms;
}

.astro-code {
  border: 1px solid theme('colors.slate.200');
}

@media (prefers-color-scheme: dark) {
  .astro-code {
    border: 1px solid theme('colors.slate.700') !important;
  }
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
