@keyframes fade-in {
  from {
    opacity: 0;
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-8px);
  }
}
@keyframes zhoop {
  from {
    transform: translateY(5px);
  }
}

.heading {
  animation: fade-in 250ms ease-out 50ms backwards;
}

.gradient-container {
  background: var(--yummy);
}

.article {
  animation: fade-in 250ms ease-out 100ms backwards,
    slide-in 250ms ease-out 100ms;
}

.astro-code {
  border: 1px solid lightgrey;
  background-color: white !important;
}
