---
import Layout from '../layouts/Layout.astro'
import PostPreview from '../lib/PostPreview.svelte'

let posts = (await Astro.glob('./blog/**.{md,mdx}'))
  .filter((post) => {
    if (process.env.NODE_ENV !== 'production') return true
    return !post.frontmatter.draft
  })
  .sort(
    (a, b) =>
      new Date(b.frontmatter.datePublished).valueOf() -
      new Date(a.frontmatter.datePublished).valueOf()
  )
---

<!-- <svelte:head>
  
</svelte:head> -->
<Layout title="Austin Crim | blogging for the web">
  <meta
    name="description"
    content="The personal blog of Austin Crim, a web builder"
    slot="og"
  />
  <meta
    name="og:title"
    content="The personal blog of Austin Crim, a web builder"
    slot="og"
  />
  <meta name="og:image" content="https://austincrim.com/og/blog.png" slot="og"
  />
  <meta name="og:url" content="https://austincrim.com" slot="og" />
  <div
    class="flex flex-col max-w-5xl mx-auto my-12 space-y-12 dark:text-gray-50 md:rounded-lg"
  >
    <h3 class="text-4xl text-blue-800">Posts</h3>
    {
      posts.map((post) => (
        <PostPreview post={{ ...post.frontmatter, url: post.url }} />
      ))
    }
  </div>
</Layout>
