---
import { getCollection } from "astro:content"
import Layout from "../layouts/Layout.astro"
import PostPreview from "../lib/PostPreview.astro"

const posts = await getCollection(
  "posts",
  (e) => import.meta.env.DEV || !e.data.draft
)
posts.sort(
  (a, b) => b.data.datePublished.valueOf() - a.data.datePublished.valueOf()
)
---

<Layout title="Austin Crim | blogging for the web" route="blog">
  <meta
    name="description"
    content="The personal blog of Austin Crim, a web builder"
    slot="og"
  />
  <meta
    name="og:title"
    content="The personal blog of Austin Crim, a web builder"
    slot="og"
  />
  <meta
    name="og:image"
    content="https://austincrim.com/og/blog.png"
    slot="og"
  />
  <meta name="og:url" content="https://austincrim.com/blog" slot="og" />
  <div class="flex flex-col max-w-5xl mx-auto mt-20 md:rounded-lg">
    <ul class="flex flex-col gap-24">
      {
        posts.map((post) => (
          <li>
            <PostPreview {post} />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
