---
import Layout from '../layouts/Layout.astro'
import PostPreview from '../lib/PostPreview.astro'

let posts = (await Astro.glob('./blog/**.{md,mdx}'))
  .filter((post) => {
    if (import.meta.env.DEV) return true
    return !post.frontmatter.draft
  })
  .sort(
    (a, b) =>
      new Date(b.frontmatter.datePublished).valueOf() -
      new Date(a.frontmatter.datePublished).valueOf()
  )
  .map((p) => ({
    ...p,
    frontmatter: { ...p.frontmatter, slug: p.url.split('/').at(-1) }
  }))
---

<Layout title="Austin Crim | blogging for the web">
  <meta
    name="description"
    content="The personal blog of Austin Crim, a web builder"
    slot="og"
  />
  <meta
    name="og:title"
    content="The personal blog of Austin Crim, a web builder"
    slot="og"
  />
  <meta
    name="og:image"
    content="https://austincrim.com/og/blog.png"
    slot="og"
  />
  <meta name="og:url" content="https://austincrim.com" slot="og" />
  <div class="flex flex-col max-w-5xl mx-auto my-20 md:rounded-lg">
    <h3 class="text-4xl text-blue-800">Posts</h3>
    <ul class="flex flex-col gap-20 mt-12">
      {
        posts.map((post) => (
          <li style={`view-transition-name: ${post.frontmatter.slug}`}>
            <PostPreview
              post={{
                ...post.frontmatter,
                url: post.url
              }}
            />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
