---
import Layout from '../layouts/Layout.astro'
import Hero from '../lib/Hero.svelte'
import Section from '../lib/Section.svelte'
import Footer from '../lib/Footer.svelte'
import PostPreview from '../lib/PostPreview.svelte'
import { getAllPostProperties } from '../lib/notion'
import { RightArrow } from '../lib/Icons'

let posts = (await getAllPostProperties()).slice(0, 3)
---

<Layout title="Austin Crim | building for the web">
	<meta
		name="description"
		content="The personal website of Austin Crim, a web builder"
		slot="og"
	/>
	<meta
		name="og:title"
		content="The personal website of Austin Crim, a web builder"
		slot="og"
	/>
	<meta name="og:image" content="https://austincrim.com/og/index.png" slot="og"
	/>
	<meta name="og:url" content="https://austincrim.com" slot="og" />
	<main>
		<Hero client:idle />
		<Section title="What I'm Writing">
			<div class="flex flex-col gap-10 py-8">
				<ul class="flex flex-col gap-20">
					{
						posts.map((post) => (
							<li>
								<PostPreview post={post} />
							</li>
						))
					}
				</ul>
				<a
					class="self-end text-lg font-semibold transition-colors text-primary hover:text-secondary group"
					href="/blog"
				>
					<span class="mr-1">Read more</span>
					<span
						class="inline-block align-middle transition-transform transform group-hover:translate-x-1"
						set:html={RightArrow()}
					>
					</span>
				</a>
			</div>
		</Section>
	</main>

	<Footer>
		<div class="flex flex-col items-center gap-4">
			<a class="font-medium underline" href="mailto:aust.crim@gmail.com">
				Say Hi
			</a>
			<span>Designed and developed by Austin Crim</span>
		</div>
	</Footer>
</Layout>
