---
import Nav from '../lib/Nav.svelte'
import '@fontsource/merriweather/300.css'
import '@fontsource/merriweather/400.css'
import '../styles/tailwind.css'

export interface Props {
	title: string
}

const { title } = Astro.props as Props
let route = Astro.url.pathname
let activeLink = route.includes('/blog') ? 'blog' : 'home'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<slot name="og" />
		<title>{title}</title>
	</head>
	<div class="text-base bg-base">
		<Nav activeLink={activeLink} />
		<div class="px-10 mx-auto lg:max-w-5xl md:max-w-3xl">
			<slot />
		</div>
	</div>
</html>
