---
import Nav from '../lib/Nav.astro'
import '@fontsource/merriweather/300.css'
import '@fontsource/merriweather/400.css'
import '../styles/global.css'

const { title } = Astro.props
let route = Astro.url.pathname
let activeLink = route.includes('/blog') ? 'blog' : 'home'
---

<!doctype html>
<html class="dark:bg-slate-900 dark:text-slate-200" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="view-transition" content="same-origin" />
    <slot name="og" />
    <title>{title}</title>

    {
      import.meta.env.PROD ? (
        <script is:inline defer src="/_vercel/insights/script.js" />
      ) : null
    }
  </head>
  <div class="px-10 py-4 mx-auto lg:max-w-4xl md:max-w-3xl sm:max-w-2xl">
    <Nav activeLink={activeLink} />
    <slot />
  </div>


</html>
