---
import Nav from '../lib/Nav.svelte'
import '../styles/tailwind.css'
export interface Props {
	title: string
}

const { title } = Astro.props as Props
let route = Astro.url.pathname
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<div class="text-base bg-base">
		<Nav client:load route={route} />
		<div class="px-10 mx-auto lg:max-w-5xl md:max-w-3xl">
			<slot />
		</div>
	</div>
</html>
